/*Color Pallete: https://paletton.com/#uid=1010C0kllllzT3AqYcefIus9oQf*/
body {
    margin: 0;
}
@media (prefers-color-scheme: dark){
    .Header{
        background-color: #1D0100; 
    }
    .HeaderMobileButton{
        background-color: #1D0100;
    }
    .HeaderMobileButton:hover{
        background-color: #3f0200;
    }
    .HeaderRedirects{
        background-color: #3f0200;
        border: 2px solid #1D0100;
    }
    .HeaderRedirects{
        background-color: #3f0200;
        border: 2px solid #1D0100;
    }
    .HeaderRedirects a{
        color: white;
    }
    .HeaderRedirects a:hover{
        background-color: #741a17;
 
    }
    .HeaderRedirectsPC a{
        color: white;
    }
    .HeaderRedirectsPC a:hover{
        background-color: #741a17;
 
    }

}
@media (prefers-color-scheme: light){
    .Header{
        background-color: #FFB6B4   ;
    }
    .HeaderMobileButton{
        background-color: #FFB6B4;
    }
    .HeaderMobileButton:hover{
        background-color: #fdcdcc;
    }
    .HeaderRedirects{
        background-color: #fdcdcc;
        border: 2px solid #fdc4c2;
        color: black;
    }
    .HeaderRedirects a{
        color: black;
    }
    .HeaderRedirects a:hover{
        background-color: #fdd6d5;
    }
    .HeaderRedirectsPC a{
        color: black;
    }
    .HeaderRedirectsPC a:hover{
        background-color: #fdd6d5;
    }
    .Main{
        color: white;
    }
}
@media (min-width: 1024px){
    .HeaderMobileButton{
        display: none;
    }
    .HeaderRedirectsPC{
        display: flex;
        position:absolute;
        width: fit-content;
        height: fit-content;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .HeaderRedirectsPC a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 1.5em;
        text-decoration: none;
        padding: 18px 48px;
        margin: 0px 12px;
        
    }
}
@media (max-width: 1023px){
    .HeaderRedirectsPC{
        display: none;
    }
}
/*Header Stylization*/
.Header{
    width: 100%;
    height: 70px;
    
    position: relative;
    display: flex;
}
.Header img{
    width: 64px;
    position: absolute;
    left: 16px;
    top: 0px;
    bottom: 0px;
    margin: auto 0;
}

/*Header Mobile Stylization*/
.HeaderMobileButton{
    position: absolute;
    right: 16px;
    width: 52px;
    height: 52px;
    top: 0px;
    bottom: 0px;
    margin: auto 0;
    border-radius: 10%;
    border: solid white 2px;
}

.HeaderMobileButton :nth-child(1){
    height: 3px;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 0px;
    bottom: 20px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.HeaderMobileButton :nth-child(2){
    height: 3px;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.HeaderMobileButton :nth-child(3){
    height: 3px;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.HeaderRedirects{
    display: flex;
    flex-direction: column;
    width: 95%;
    position:absolute;
    top: 78px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 1%;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 0;
    transition: opacity 300ms ease;
}
.HeaderRedirectsShow{
    opacity: 100;
    transition: all 300ms ease;
}
.Hide{
    display:none
}
.Show{
    display: flex;
}

.HeaderRedirects a{
    text-decoration: none;
    padding: 12px 16px;
    margin: 6px 16px;
    border-radius: 1%;
    
}
.Main{
    position: relative;
}
.Main img{
    width: 100%;
}
.Main h1{
    position: absolute;
    top: 5%;
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.Main p{
    position: absolute;
    top: 25%;
    text-align: center;
    left: 0;
    width: 80%;
    right: 0;
    margin: 0 auto;
}